*.class
.idea
.DS_Store
logs/
project/target/
target/
src/main/sbt-test/integration-env-sbt/docker-compose-env-manage/container-file.txt
src/main/sbt-test/integration-env-sbt/docker-compose-env-ci-manage/container-file.txt
src/main/sbt-test/integration-env-sbt/docker-compose-env-dev-manage/container-file.txt